body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}


.page-wrapper {
	text-align: center;
	padding: 0 0 20px 0;
}

header {
	background-color: #404041;
	background-size: cover;
	height: auto;
	text-align: center
}

h1 {
	padding: 20px 20px;
	margin: 0 auto;
	color: #E6E7E8;
	font-weight: 300;
	font-size: 40;
}

.pink-font {
	color: #ED458B;
	font-weight: 700;
}

button:disabled {
	background-color: #D0D2D3;
	color: #FFFFFF;
}

button {
	font-family: 'Open Sans', sans-serif;
	background-color:#929497;
	font-size: 20px;
	display: inline-block;
	padding: 0.25em 2em;
	border-radius: 50px;
	border: 0;
	color: #FFFFFF;
}

.top-buttons .button:first-of-type {
	float: left;
}

.top-buttons .button:last-of-type {
	float: right;
}

input:placeholder-shown {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 10px;
}

input {
	display: block;
	width: 100%;
	height: 40px;
	margin: 1em 0;
}

p {
	color: #404041;
	font-size: 20px;
}

.input {
	width: 320px;
	margin: 1em auto;
	clear: both;
}
.your-guess {
	clear: both;
	margin: 0 auto;
}
.your-guess-number {
	font-weight: 300;
	font-size: 160;
	color: #EB008B;
	margin: 20px;

}
.space {
	clear: both;
	height:20px
}
button:hover {
	background-color: #EB008B;
	color: #FFFFFF;
}
@media only screen and (max-width:480px){
	button {
		width: 100%;
		margin: 5px auto;
	}
	.your-guess-number {
		height: 180px;
		margin: 0px auto;
	}
	#reset-button {
		margin: 0px auto 30px auto;
		width: 90%;
	}
}

@media only screen and (max-width:370px){
	h1{
		font-size: 30px;
	}
}
